.table-responsive {
  overflow-x: auto;
}

.table {
  max-width: 100%;
  width: 100%;
}

.main-sidebar {
  height: 100vh !important;
  position: fixed !important;
}

.measurement label {
  font-weight: 600 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #fff;
  background-color: #007bff;
}

.nav .nav-tabs {
  border-color: black;
}

@media (max-width: 767px) {
  td input[type="text"] {
    width: 100% !important  
  }
}